<div class="container mt-5 d-flex justify-content-center">
  <div class="col-7">
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Total Time in Month</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (employee of employees; track employee.Name; let i = $index){
          <tr [ngClass]="{'table-danger': employee.TotalTimeWorked < REQUIRED_HOURS}">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ employee.Name ? employee.Name : 'Unknown' }}</td>
            <td>{{ employee.TotalTimeWorked | hours}}</td>
            <td><a href="#">Edit</a></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
